<script setup lang="ts">
import { computed, ref } from 'vue';

let id = 0
const newTodo = ref('')
const num1 = ref(0)
const num2 = ref(0)
const todos = ref([
    {id: id++, text: 'Learn HTML', done: true},
    {id: id++, text: 'Learn Javascript', done: true},
    {id: id++, text: 'Learn Vue', done: false}
])

function addTodo() {
    todos.value.push({id: id++, text: newTodo.value, done:false})
    newTodo.value = ('')
}
function removeTodo(todo: { id: number; text: string, done: boolean}) {
    todos.value = todos.value.filter((t) => t !== todo)
//  todos.value = todos.value.filter(function(t) {
//  return t.id !== id
//     })
// }

// function calculate() {
//     result.value = num1.value + num2.value
    }

const result = computed(function() {
    return num1.value + num2.value
})
</script>

<template>
    <input type="text" v-model.number="num1"> + <input type="text" v-model.number="num2"> = {{ result }} 
    <button @click="calculate">Calcutate</button>
    <div>{{ todos }}</div>
    <div>{{ newTodo }}></div>
    <form @submit.prevent="addTodo">
    <input type="text" v-model="newTodo">
    <button>add todo</button>
    </form>
    <ul>
        <li v-for="todo in todos" :key="todo.id" :class="{done: todo.done}">
        {{ todo.text }}<button @click="removeTodo(todo)">X</button></li>   
    </ul>
</template>

<style scoped>
.done {
    text-decoration: line-through;
}
</style>